@charset "UTF-8";


header {
    display: block;
    position: sticky;
    margin: -8px;
    top: 0;
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.378);
    z-index: 1000;
}

header #hamburguer {
    cursor: pointer;
    margin: 10px 20px;
    user-select: none;
}

span.material-symbols-outlined {
    font-size: 25px;
}

article {
    padding: 0px 10px;
    transition: filter .3s ease;
    
}

article.overlay {
    filter: brightness(.5);
}

nav#secao {
    position: fixed;
    background-color: white;
    height: 100vh;
    top: 45px;
    left: 0;
    border-top: 1px solid lightgray;

    transform: translateX(-100%);
    transition: transform 0.35s cubic-bezier(.4, 0, .2, 1);

    z-index: 1;
}

nav#secao.ativo {
    transform: translateX(0);
}

figure.img-esquerda {
    float: none;
    width: 100vw;
    margin: 10px auto;
    border: none;
    box-shadow: none;
    border-radius: 0px;
}

div.latex-bloco {
    font-size: 13px;
    margin-right: 10px;
}
